.generateImageHeading {
  text-align: center;
  background-image: linear-gradient(to right, #9e16fa, #915eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Founders Grotesk, Arial Black, sans-serif;
}

@media (min-width: 1024px) {
  .generateImageHeading {
    font-size: 58px;
  }
}
